

#rojo{
    color: red;
    text-align: center;
    font-size: 40px;

}
#lila{
    color:#FF33FF ;
    text-align: center;
}
#centroImagen{
    text-align: center;
}
#centroBotton{
    text-align: center;
}